extend layout

block content

    .left.ladderContainer
        h2 EU Ladder
            button#refreshEU(data-action-url='ladder/eu') update
        div.tableContainer

    .left.ladderContainer
        h2 US Ladder
            button#refreshUS(data-action-url='ladder/us') update
        div.tableContainer

    .left.ladderContainer
        h2 KR Ladder
            button#refreshKR(data-action-url='ladder/kr') update
        div.tableContainer

    script#listTemplate(type='text/template')
        div {{date}}
        table
            thead
                tr
                    td #
                    td Name
                    td points
                    td win/games
                    td ratio

            tbody
                {{#users}}
                tr(class='{{className}}')
                    td {{rank}}
                    td
                        a(href='{{profileUrl}}') {{name}}
                    td {{points}}
                    td {{wins}}
                    td {{ratio}}%
                {{/users}}
                tr
                    td ...
                {{#restUser}}
                tr(class='{{className}}')
                    td {{rank}}
                    td
                        a(href='{{profileUrl}}') {{name}}
                    td {{points}}
                    td {{wins}}
                    td {{ratio}}%
                {{/restUser}}