!!!5
html
    head
        title SC2 Stats
        link(rel='stylesheet', href='css/style.css')
        script(src='lib/jquery.js')
        script(src='lib/mustache.js')
        script(src='client.js')
    body
        header
            h1 SC2 Stats
        .container
            #content
                block content
        footer