/*
 * Import nib
 */
@import 'nib'

/*
 * Nib provides a CSS reset
 */
global-reset()


main-color = #222

body
  font-family 'Verdana'
  background-color #000
  color #fff

header
  padding 15px 10px
  color #fff
  font-size 25px
  background-color darken(main-color, 20%)
  border-bottom 1px solid darken(main-color, 30%)
  text-shadow 0px -1px 0px darken(main-color, 30%)

h2
  padding-bottom 4px
  margin-bottom 15px
  border-bottom solid 2px #999

.container
  margin 10px

footer
  margin 50px
  padding-top 5px
  font-size 13px

.high, .high a
  color orange

table
  font-size 12px
  margin-top 10px
  thead
    color #bbb
    td
        padding-bottom 10px
  td
    padding 3px 10px 3px 0
  a
    text-decoration none
    color #fff


.left
  float left
  padding 10px
  margin 10px
  min-width 200px
  background-color darken(main-color, 30%)

button
    float right
    margin 0